@import url("./index.css");

.title {
	padding-bottom: 63px;
	font-size: 150px;
}

.sub-title {
	padding-bottom: 44px;
	letter-spacing: 4.72px;
	text-transform: uppercase;
	font-family: "Barlow Condensed", sans-serif;
	font-size: 28px;
	color: #d0d6f9;
}

.left {
	max-width: 450px;
	position: absolute;
	bottom: 131px;
	right: 50%;
	left: 165px;
}

.right {
	position: absolute;
	bottom: 131px;
	right: 165px;
}

.btn {
	background: #fff;
	height: 274px;
	width: 274px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	border-radius: 50%;
	font-size: 32px;
	letter-spacing: 2px;
	/* cursor: pointer; */
	color: #0b0d17;
	font-family: "Bellefair", sans-serif;
	transition: 0.256s ease-in;
}

.btn:hover {
	box-shadow: 0px 0px 0px 88px rgb(151, 151, 151, 0.136);
}

/* tablet/ipad */
@media only screen and (max-width: 768px) {
	.sub-title {
		font-size: 16px;
	}
}

@media only screen and (max-width: 1130px) {
	section {
		text-align: center;
	}
	.left,
	.right {
		width: 100%;
		margin: auto;
		position: unset;
	}
	.btn {
		height: 242px;
		width: 242px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: auto;
	}

	.right {
		padding: 154px 0;
	}
}

/* mobile */
@media only screen and (max-width: 510px) {
	.nav-bar {
		width: 70%;
	}
	.left {
		padding: 24px;
	}

	.right {
		padding: 80px;
	}

	.btn {
		height: 150px;
		width: 150px;
		font-size: 20px;
	}

	.title {
		font-size: 80px;
	}
}

/*screen 1400x700 */
@media only screen and (max-height: 760px) {
	.left {
		bottom: 30px;
	}
	.right {
		bottom: 100px;
	}
}
